:root {
    --main-color: white;
    --second-color: white;
    --third-color: white;
    --shadow-box: #bebebe;
    --light-box: #ffffff;
    --bg-color: white;

    --txt-dark-color: #1f1f1f;
    --txt-light-color: white;


    --menu-hover: #24b4fb;

    --card-color: #dee0e0;


    --test1: red;
    --test2: green;
    --test3: yellow;
}


/* General */
* {
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-family: "Roboto Flex", sans-serif;
    font-style: normal;
}

p, a {
    font-family: "Roboto Flex", sans-serif;
    font-style: normal;
}

h1 {
    text-align: center;
    padding: 2.5rem;
}

body {
    background-color: var(--bg-color);
}

/* Header */
header {
    background-color: var(--test1);
    display: flex;
    justify-content: center;

    border-radius: 0 0 30px 30px;
    background: var(--bg-color);
    box-shadow:  20px 20px 60px var(--shadow-box),
             -20px -20px 60px var(--light-box);
}

header .header {
    max-width: 550px;
    width: 100%;
    padding: 0.5rem 1rem;
}

header .main-header {
    display: flex;
    justify-content: space-between;
}

header .logo {
    display: flex;
}
header .logo img {
    width: 50px;
    height: 50px;
    border: solid blue 3px;
    border-radius: 50%;
}

/* Ham Menu */

#ham {
    font-size: 1.8rem;
    border: 0;
    background: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#ham::before {
	content: "☰";
}

#ham.open::before {
	content: "❎";
}

.cert::after {
	content: "✅";
    padding-left: 0.2rem;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-in-out;
}

nav.open {
    grid-template-rows: 1fr;
    gap: 5px;
}

nav .menu {
    overflow: hidden;
    list-style: none;
    text-align: center;
}

nav .menu li {
    padding: 0.5rem;
}

nav .menu li a {
    text-decoration: none;
    color: var(--txt-dark-color);
}

nav .menu li:hover {
    background-color: var(--menu-hover);
    border-radius: 15px;
    color: var(--txt-light-color);
    transition: ease-in-out 0.3s;
}

nav .menu li:hover a {
    color: var(--txt-light-color);
}

/* Body Sections */
.banner {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}
.banner img {
    border: 1px solid grey;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.banner > .card {
    border: solid green 1px;
}

.tabs {
    border: 1px solid green;
    height: 250px;
}

.tabs .card {
    border: 1px solid yellow;
    height: 50px;
}

#business-cards {
    border: 1px solid blue;
    height: 250px;
}

/* Footer */
footer {
    border-top: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}