@media screen and (min-width: 740px) {
    /* Main */
    main {
        max-width: 1080px;
        margin: auto;
    }

    /* Card */
    /*  List */
    .list .card {
        width: 100%;
        max-width: 660px;
        margin: auto;
        display: grid;
        grid-template-columns: minmax(150px, 25%) 1fr minmax(100px, 5%);
    }
    .list img {
        display: none;
    }
    
    .list .card-header {
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    .list .card-body {
        display: block;
        text-align: center;
    }

    /* Grid */
    .grid .card-body {
        display: grid;
        gap: 20px;
        grid-template-columns: minmax(100px, 20%) 1fr;
    }
}