/* Main */
main {
    padding: 1rem;
}

#directory {
    margin: 1rem 0;
}

.grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/* Card */
/* Grid */
.card {
    justify-content: start;
}
.grid .card-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.grid .card-body {
    padding: 0 1rem;
    vertical-align: middle;
}


/* List */
.list th {
    border-bottom: 1px solid grey;
}

.list td {
    border-bottom: 1px solid grey;
    padding: 0.5rem;
}

.list tr:nth-child(even) {
    background-color: var(--shadow-table);
}

/* Buttons */
.buttons {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.buttons button {
    width: 30%;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: all ease-in-out 0.2s;
    color: #fff;
}

button:hover {
    background-color: #0071e2;
}